@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeueLTW20-Light.woff");
}

body {
    font-family: "Helvetica";
}
